{% include "Navigation.html" %}
    Neue Ideen generieren, Bitte Kategorien auswählen<br/>
    <form method="POST">
<select class="form-select form-select-lg mb-3" name="Gruppengroesse" aria-label=".form-select-lg example">
  <option selected>maximale Gruppengrösse auswählen</option>
  <option value="1-4">1-4</option>
  <option value="5-10">5-10</option>
  <option value="10+">10+</option>
</select>
        <br/>
<select class="form-select form-select-lg mb-3" name="Budget" aria-label=".form-select-lg example">
  <option selected>Budget auswählen</option>
  <option value="0 - 20 CHF">0 - 20 CHF</option>
  <option value="20 - 100 CHF">20 - 100 CHF</option>
  <option value="100+ CHF">100+ CHF</option>
</select>
                <br/>
<select class="form-select form-select-lg mb-3" name="Saison" aria-label=".form-select-lg example">
  <option selected>Saison</option>
  <option value="Winter">Winter</option>
  <option value="Sommer">Sommer</option>
  <option value="Frühling">Frühling</option>
    <option value="Herbst">Herbst</option>
      <option value="egal">egal</option>
</select>
        <br/>
        <select class="form-select form-select-lg mb-3" name="Ort" aria-label=".form-select-lg example">
  <option selected>Ort</option>
  <option value="drinnen">drinnen</option>
  <option value="draussen">draussen</option>
</select>
        <br/>
        <select class="form-select form-select-lg mb-3" name="Bewegungsdrang" aria-label=".form-select-lg example">
  <option selected>Bewegungsdrang</option>
  <option value="extrem">extrem</option>
  <option value="vorhanden">vorhanden</option>
  <option value="wenig">wenig</option>
    <option value="nicht nötig">nicht nötig</option>
</select>
        <br/>
  <button type="submit" class="btn btn-secondary">neue Ideen generieren</button>
</form>
    </body>
{% include "footer.html" %}