{% include "Navigation.html" %}
Willst du eine neue Aktivität erfassen?<br/>
<form method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" name="name" id="name" class="form-label">Titel neue Idee</label>
        <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <select class="form-select form-select-lg mb-3" name="Gruppengroesse" aria-label=".form-select-lg example">
        <option selected>maximale Gruppengrösse auswählen</option>
        <option value="1">1-4</option>
        <option value="2">5-10</option>
        <option value="3">10+</option>
    </select>
    <br/>
    <select class="form-select form-select-lg mb-3" name="Budget" aria-label=".form-select-lg example">
        <option selected>Budget auswählen</option>
        <option value="1">0 - 20 CHF</option>
        <option value="2">20 - 100 CHF</option>
        <option value="3">100+ CHF</option>
    </select>
    <br/>
    <select class="form-select form-select-lg mb-3" name="Saison" aria-label=".form-select-lg example">
        <option selected>Saison</option>
        <option value="1">Winter</option>
        <option value="2">Sommer</option>
        <option value="3">Frühling</option>
        <option value="4">Herbst</option>
        <option value="5">egal</option>
    </select>
    <br/>
    <select class="form-select form-select-lg mb-3" name="Ort" aria-label=".form-select-lg example">
        <option selected>Ort</option>
        <option value="1">drinnen</option>
        <option value="2">draussen</option>
    </select>
    <br/>
    <select class="form-select form-select-lg mb-3" name="Bewegungsdrang" aria-label=".form-select-lg example">
        <option selected>Bewegungsdrang</option>
        <option value="1">extrem</option>
        <option value="2">vorhanden</option>
        <option value="3">wenig</option>
    </select>
    <br/>
    <button type="submit" class="btn btn-secondary">neue Idee speichern</button>
</form>
{% include "footer.html" %}