{% include "Navigation.html" %}
<!-- wenn in Vorschläge kein passender Eintrag, dann Weiterleitung auf Seite "neue Idee erfassen" ansonsten werden die
passenden Vorschläge angezeigt-->
{% if vorschlaege == [] %}
<p>Leider gibt es für dich keine passende Vorschläge. Möchtest du eine neue Idee erfassen?</p>
<a href="neue_idee">Hier kannst du deine neue Idee erfassen.</a>
{% else %}
<p>Hier findest du deinen passenden Vorschlag:</p>
<form method="POST" action="{{ url_for('vorschlaege') }}">
    <ul class="list-group">
        {% for eintrag in vorschlaege %}
        <li class="list-group-item">
            <label>
            <input class="form-check-input me-1" type="checkbox" name="name" value="{{ eintrag.name }}" id="name">
                {{ eintrag.name }}
                </label>
        </li>
        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-secondary">Auswahl abspeichern</button>

</form>
{% endif %}

</body>
{% include "footer.html" %}