{% include "Navigation.html" %}
{{vorschlaege}}
    {% for eintrag in vorschlaege %}
        <tr>
            <!-- Die Ideen von der Liste Vorschläge werden ausgegeben. -->
            <td>{{ eintrag["name"] }}</td>
            <td>{{ eintrag["gruppengroesse"] }}</td>
            <td>{{ eintrag["budget"] }}</td>
            <td>{{ eintrag["saison"] }}</td>
            <td>{{ eintrag["ort"] }}</td>
            <td>{{ eintrag["bewegungsdrang"] }}</td>
        </tr>
            {% endfor %}
</body>
</html>